[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
xarray = "*"
xgcm = "*"
netcdf4 = "*"
twine = "*"
dask = {extras = ["array"],version = "*"}
xbasin = {editable = true, path = "."}
jupyterlab = "*"

[packages]

[requires]
python_version = "3.8"
